.home {
    background: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.home-definition, .home-animation {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.home-definition {
    flex-direction: column;
    align-items: flex-start;
}
